@import "/styles/mixins.scss";

$breakpoints: map-merge($breakpoints, ("lg-desktop": 1400px, "custom": 862px));

.settings-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -30px -30px;
}

.settings-item {
    margin: 30px 30px;
}

.setting-name {
    text-align: left;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;

    &_small {
        text-align: left;
        font-size: 8px;
        line-height: 13px;
        letter-spacing: 3px;
        text-transform: lowercase;
        display: flex;

        .checkbox {
            margin: 4px 4px 4px 0;
        }

        span {
            line-height: 28px;
        }
    }
}

.setting-input {
    width: 214px;
    height: 40px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5;
    padding: 7px 14px;
}

.setting-note {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    align-items: center;
    letter-spacing: 3px;
    color: #000000;
    text-transform: lowercase;
}

.smoky {
    background: #f5f5f5;
}

.sub-title {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px 0;
}

.footer-link {
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 3px;
    text-decoration-line: underline;
    text-transform: capitalize;
    margin-top: 30px;
}

.scheme-text {
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #fff;
    fill: #fff;
    height: inherit;
    display: inline-flex;

    &__seat {
        font-size: 15px;
        line-height: 13px;
        align-items: center;
        text-align: center;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #778797;
        fill: #778797;
        height: inherit;
        display: inline-flex;
    }

    &__vip {
        display: inline;
        writing-mode: vertical-rl;
    }
    &__lg {
        display: none;
    }
    &__desktop {
        display: block;
    }

    @include media("<=lg-desktop") {
        &__table {
            transform: rotate(90deg);
        }
        &__vip {
            transform: rotate(360deg);
        }
        &__lg {
            display: block;
        }
        &__desktop {
            display: none;
        }
    }
}

.pointer {
    cursor: pointer;
}

.default-cursor {
    cursor: default;
}

.scheme-container {
    position: relative;
}

.tooltip {
    position: absolute;
    width: 173px;
    background: #f1e041;
    border-radius: 4px;
    padding: 10px;

    @include media("<=lg-desktop") {
        transform: rotate(90deg) translate(65px, -40px);
    }
    @include media("<=md-tablet") {
        display: none;
    }
}

.tooltip-row {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    color: #000000;

    &:not(:first-child) {
        margin-top: 8px;
    }

    &_header {
        font-size: 15px;
    }

    &_split {
        display: flex;
        justify-content: space-between;
    }
}

.tooltip-name {
    text-decoration: underline;
    text-transform: uppercase;
}
.seat{
    position: absolute;
    width: 37px;
    height: 44px;
    background-repeat: no-repeat;
    text-align: center;

    &_default {
        p {
            transform: translateY(-3px);
        }
    }
    &_side {
        p {
            transform: translateY(-3px);
        }
    }
    &_double {
        p span {
            transform: translate(5px, 3px);
        }
    }

    &_selected {
        &_default {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.7599 39.2927H6.35075C4.23278 39.2927 2.44922 37.48 2.44922 35.3275V4.96522C2.44922 2.81267 4.23278 1 6.35075 1H29.7599C31.8779 1 33.6615 2.81267 33.6615 4.96522V35.4408C33.6615 37.5933 31.8779 39.2927 29.7599 39.2927Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M21.066 5.30606H1.78125C1.78125 2.92693 3.67628 1.11426 5.90573 1.11426H21.1774C21.9577 1.11426 22.6266 1.79401 22.6266 2.58706V3.83327C22.6266 4.62631 21.9577 5.30606 21.066 5.30606Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M21.066 34.8755H1.78125C1.78125 37.2546 3.67628 39.0673 5.90573 39.0673H21.1774C21.9577 39.0673 22.6266 38.3875 22.6266 37.5945V36.3483C22.6266 35.5552 21.9577 34.8755 21.066 34.8755Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.45312 4.84426C3.67607 4.73096 4.01048 4.73096 4.23343 4.73096H5.34815C8.02349 4.73096 10.1415 6.88351 10.1415 9.60252V30.5615C10.1415 33.2805 8.02349 35.4331 5.34815 35.4331H4.23343C4.01048 35.4331 3.67607 35.4331 3.45312 35.3198' fill='%23B9EAA4'/%3E%3Cpath d='M3.45312 4.84426C3.67607 4.73096 4.01048 4.73096 4.23343 4.73096H5.34815C8.02349 4.73096 10.1415 6.88351 10.1415 9.60252V30.5615C10.1415 33.2805 8.02349 35.4331 5.34815 35.4331H4.23343C4.01048 35.4331 3.67607 35.4331 3.45312 35.3198' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.00651 35.5464H2.89504C1.89178 35.5464 1 34.64 1 33.6204V6.65693C1 5.6373 1.89178 4.73096 2.89504 4.73096H3.00651C4.00976 4.73096 4.90153 5.6373 4.90153 6.65693V33.5071C4.90153 34.64 4.00976 35.5464 3.00651 35.5464Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_side {
            width: 43px;
            height: 38px;
            background-image: url("data:image/svg+xml,%3Csvg width='43' height='38' viewBox='0 0 40 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00028 30.0983L1.00029 6.68913C1.00029 4.57115 2.81296 2.7876 4.9655 2.7876L35.3277 2.7876C37.4803 2.7876 39.293 4.57116 39.293 6.68913L39.293 30.0983C39.293 32.2163 37.4803 33.9999 35.3277 33.9999L1.00028 33.9999C1.00028 33.9999 1.00028 32.2163 1.00028 30.0983Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M35.5194 3C35.75 3.23333 35.75 3.58333 35.75 3.81666L35.75 4.98333C35.75 7.78333 31.369 10 25.835 10L1 10L1 3.66766' fill='%23B9EAA4'/%3E%3Cpath d='M35.5194 3C35.75 3.23333 35.75 3.58333 35.75 3.81666L35.75 4.98333C35.75 7.78333 31.369 10 25.835 10L0.999999 10L0.999999 3.66766' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M34.9859 21.4034L34.9859 2.11865C37.3651 2.11865 39.1777 4.01368 39.1777 6.24313L39.1777 21.5148C39.1777 22.2951 38.498 22.964 37.7049 22.964L36.4587 22.964C35.6657 22.964 34.9859 22.2952 34.9859 21.4034Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M1 4L1 1L31.8996 1C34.0704 1 36 1.68572 36 2.45715L36 2.54286C36 3.31429 34.0704 4 31.8996 4L1 4Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_double {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 37 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.7298 0.856445H7.21721C4.67885 0.856445 2.62109 2.9142 2.62109 5.45256V28.7396C2.62109 31.2779 4.67885 33.3357 7.21721 33.3357H31.7298C34.2682 33.3357 36.3259 31.2779 36.3259 28.7396V5.45256C36.3259 2.9142 34.2682 0.856445 31.7298 0.856445Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.612816'/%3E%3Cpath d='M22.9238 5.2793H1.9375C1.9375 2.66677 3.99975 0.67627 6.42592 0.67627H23.0452C23.8943 0.67627 24.6221 1.42271 24.6221 2.29355V3.66202C24.6221 4.53286 23.8943 5.2793 22.9238 5.2793Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.612816' stroke-miterlimit='10'/%3E%3Cpath d='M3.87891 5.0287C4.12153 5.0287 4.48547 4.9043 4.72808 4.9043H5.94117C8.85257 4.9043 11.1574 6.8948 11.1574 9.50733V29.0391C11.1574 31.5273 8.85257 33.6421 5.94117 33.6421H4.72808C4.48547 33.6421 4.12153 33.6421 3.87891 33.5178' fill='%23B9EAA4'/%3E%3Cpath d='M3.87891 5.0287C4.12153 5.0287 4.48547 4.9043 4.72808 4.9043H5.94117C8.85257 4.9043 11.1574 6.8948 11.1574 9.50732V29.0391C11.1574 31.5273 8.85257 33.6421 5.94117 33.6421H4.72808C4.48547 33.6421 4.12153 33.6421 3.87891 33.5178' stroke='%2387C86C' stroke-width='0.612816' stroke-miterlimit='10'/%3E%3Cpath d='M2.97885 33.6422H2.87379C1.9283 33.6422 1.08789 33.1405 1.08789 32.576V5.29327C1.08789 4.72879 1.9283 4.22705 2.87379 4.22705H2.97885C3.92433 4.22705 4.76479 4.72879 4.76479 5.29327V32.576C4.76479 33.1405 3.92433 33.6422 2.97885 33.6422Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.612816' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_long {
            width: 37px;
            height: 81px;
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='81' viewBox='0 0 34 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.125 2.13391H5.875C3.77143 2.13391 2 4.22989 2 6.71883V67.2393C2 69.7282 3.77143 71.8242 5.875 71.8242H33V6.71883C33 4.09889 31.2286 2.13391 29.125 2.13391Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 71.8813H10.0008V17.1442C10.0008 10.6533 7.78416 5.13596 4.98416 5.13596H3.81749C3.58416 5.13596 3.23415 5.13596 3.00081 5.46051' fill='%23B9EAA4'/%3E%3Cpath d='M2.5 71.8813H10.0008V17.1442C10.0008 10.6533 7.78416 5.13597 4.98416 5.13597H3.81749C3.58416 5.13597 3.23415 5.13597 3.00081 5.46051' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.54285 2.18811H2.45713C1.6857 2.18811 1 3.42155 1 4.80918V71.8778L4 71.8784V4.80918C4 3.42155 3.31428 2.18811 2.54285 2.18811Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M16.1766 1.88135C-18.9148 3.31152 33 3.45692 33 3.7103L32.9992 9.88135L14.6738 9.88135C9.02619 9.88135 4.55519 7.47429 4.55519 4.4338L4.55519 3.16693C4.55519 2.91355 4.5552 2.5335 4.79052 2.28012' fill='%23B9EAA4'/%3E%3Cpath d='M16.1766 1.88135C-18.9148 3.31152 33 3.45692 33 3.7103L32.9992 9.88135L14.6738 9.88135C9.02619 9.88135 4.55519 7.47429 4.55519 4.4338L4.55519 3.16693C4.55519 2.91355 4.5552 2.5335 4.79052 2.28012' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2 2.42421L2 1.38192C2 0.88135 3.92276 0.881347 6.08587 0.881348L32.9998 0.881348L33 3.88135L6.32621 3.88135C3.92276 3.88135 2 3.19564 2 2.42421Z' fill='%23B9EAA4' stroke='%2387C86C' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_disabled {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.7599 39.2927H6.35075C4.23278 39.2927 2.44922 37.48 2.44922 35.3275V4.96522C2.44922 2.81267 4.23278 1 6.35075 1H29.7599C31.8779 1 33.6615 2.81267 33.6615 4.96522V35.4408C33.6615 37.5933 31.8779 39.2927 29.7599 39.2927Z' fill='%23B9EAA4' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10' /%3E%3C/svg%3E");
        }        
    }
    &_locked {
        &_default {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.7599 39.2927H6.35075C4.23278 39.2927 2.44922 37.48 2.44922 35.3275V4.96522C2.44922 2.81267 4.23278 1 6.35075 1H29.7599C31.8779 1 33.6615 2.81267 33.6615 4.96522V35.4408C33.6615 37.5933 31.8779 39.2927 29.7599 39.2927Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M21.066 5.30606H1.78125C1.78125 2.92693 3.67628 1.11426 5.90573 1.11426H21.1774C21.9577 1.11426 22.6266 1.79401 22.6266 2.58706V3.83327C22.6266 4.62631 21.9577 5.30606 21.066 5.30606Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M21.066 34.8755H1.78125C1.78125 37.2546 3.67628 39.0673 5.90573 39.0673H21.1774C21.9577 39.0673 22.6266 38.3875 22.6266 37.5945V36.3483C22.6266 35.5552 21.9577 34.8755 21.066 34.8755Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.45312 4.84426C3.67607 4.73096 4.01048 4.73096 4.23343 4.73096H5.34815C8.02349 4.73096 10.1415 6.88351 10.1415 9.60252V30.5615C10.1415 33.2805 8.02349 35.4331 5.34815 35.4331H4.23343C4.01048 35.4331 3.67607 35.4331 3.45312 35.3198' fill='%23E1EDFB'/%3E%3Cpath d='M3.45312 4.84426C3.67607 4.73096 4.01048 4.73096 4.23343 4.73096H5.34815C8.02349 4.73096 10.1415 6.88351 10.1415 9.60252V30.5615C10.1415 33.2805 8.02349 35.4331 5.34815 35.4331H4.23343C4.01048 35.4331 3.67607 35.4331 3.45312 35.3198' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.00651 35.5464H2.89504C1.89178 35.5464 1 34.64 1 33.6204V6.65693C1 5.6373 1.89178 4.73096 2.89504 4.73096H3.00651C4.00976 4.73096 4.90153 5.6373 4.90153 6.65693V33.5071C4.90153 34.64 4.00976 35.5464 3.00651 35.5464Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_side {
            width: 43px;
            height: 38px;
            background-image: url("data:image/svg+xml,%3Csvg width='43' height='38' viewBox='0 0 40 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00028 30.0983L1.00029 6.68913C1.00029 4.57115 2.81296 2.7876 4.9655 2.7876L35.3277 2.7876C37.4803 2.7876 39.293 4.57116 39.293 6.68913L39.293 30.0983C39.293 32.2163 37.4803 33.9999 35.3277 33.9999L1.00028 33.9999C1.00028 33.9999 1.00028 32.2163 1.00028 30.0983Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M35.5194 3C35.75 3.23333 35.75 3.58333 35.75 3.81666L35.75 4.98333C35.75 7.78333 31.369 10 25.835 10L0.999999 10L0.999999 3.66766' fill='%23E1EDFB'/%3E%3Cpath d='M35.5194 3C35.75 3.23333 35.75 3.58333 35.75 3.81666L35.75 4.98333C35.75 7.78333 31.369 10 25.835 10L0.999999 10L0.999999 3.66766' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M34.9859 21.4034L34.9859 2.11865C37.3651 2.11865 39.1777 4.01368 39.1777 6.24313L39.1777 21.5148C39.1777 22.2951 38.498 22.964 37.7049 22.964L36.4587 22.964C35.6657 22.964 34.9859 22.2952 34.9859 21.4034Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M0.999999 4L0.999999 1L31.8996 1C34.0704 1 36 1.68572 36 2.45715L36 2.54286C36 3.31429 34.0704 4 31.8996 4L0.999999 4Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_double {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 34 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.1567 1.16553H6.63166C4.29911 1.16553 2.4082 3.05644 2.4082 5.38899V26.7879C2.4082 29.1204 4.29911 31.0113 6.63166 31.0113H29.1567C31.4893 31.0113 33.3802 29.1204 33.3802 26.7879V5.38899C33.3802 3.05644 31.4893 1.16553 29.1567 1.16553Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128'/%3E%3Cpath d='M21.066 5.22981H1.78125C1.78125 2.82911 3.67629 1 5.90574 1H21.1775C21.9578 1 22.6266 1.68592 22.6266 2.48615V3.74366C22.6266 4.54389 21.9578 5.22981 21.066 5.22981Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.56445 4.99957C3.7874 4.99957 4.12183 4.88525 4.34477 4.88525H5.4595C8.13484 4.88525 10.2528 6.71436 10.2528 9.11506V27.0632C10.2528 29.3496 8.13484 31.293 5.4595 31.293H4.34477C4.12183 31.293 3.7874 31.293 3.56445 31.1787' fill='%23E1EDFB'/%3E%3Cpath d='M3.56445 4.99957C3.7874 4.99957 4.12183 4.88525 4.34477 4.88525H5.4595C8.13484 4.88525 10.2528 6.71436 10.2528 9.11506V27.0632C10.2528 29.3496 8.13484 31.293 5.4595 31.293H4.34477C4.12183 31.293 3.7874 31.293 3.56445 31.1787' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.73764 31.2928H2.6411C1.77227 31.2928 1 30.8318 1 30.3131V5.24247C1 4.72376 1.77227 4.2627 2.6411 4.2627H2.73764C3.60646 4.2627 4.37877 4.72376 4.37877 5.24247V30.3131C4.37877 30.8318 3.60646 31.2928 2.73764 31.2928Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_long {
            width: 37px;
            height: 81px;
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='81' viewBox='0 0 34 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.125 2.25257H5.875C3.77143 2.25257 2 4.34854 2 6.83748V67.3579C2 69.8469 3.77143 71.9428 5.875 71.9428H33V6.83748C33 4.21754 31.2286 2.25257 29.125 2.25257Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 72H10.0008V17.2629C10.0008 10.7719 7.78416 5.25462 4.98416 5.25462H3.81749C3.58416 5.25462 3.23415 5.25462 3.00081 5.57917' fill='%23E1EDFB'/%3E%3Cpath d='M2.5 72H10.0008V17.2629C10.0008 10.7719 7.78416 5.25462 4.98416 5.25462H3.81749C3.58416 5.25462 3.23415 5.25462 3.00081 5.57917' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.54285 2.30677H2.45713C1.6857 2.30677 1 3.5402 1 4.92783V71.9965L4 71.9971V4.92783C4 3.5402 3.31427 2.30677 2.54285 2.30677Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M16.1766 2C-18.9148 3.43017 33 3.57557 33 3.82895L32.9992 10L14.6738 10C9.02619 10 4.55519 7.59294 4.55519 4.55245L4.55519 3.28558C4.55519 3.03221 4.5552 2.65215 4.79052 2.39877' fill='%23E1EDFB'/%3E%3Cpath d='M16.1766 2C-18.9148 3.43017 33 3.57557 33 3.82895L32.9992 10L14.6738 10C9.02619 10 4.55519 7.59294 4.55519 4.55245L4.55519 3.28558C4.55519 3.03221 4.5552 2.65215 4.79052 2.39877' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2 2.54286L2 1.50057C2 1 3.92276 1 6.08587 1L32.9998 1L33 4L6.32621 4C3.92276 4 2 3.31429 2 2.54286Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_disabled {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.7599 39.2927H6.35075C4.23278 39.2927 2.44922 37.48 2.44922 35.3275V4.96522C2.44922 2.81267 4.23278 1 6.35075 1H29.7599C31.8779 1 33.6615 2.81267 33.6615 4.96522V35.4408C33.6615 37.5933 31.8779 39.2927 29.7599 39.2927Z' fill='%23E1EDFB' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10' /%3E%3C/svg%3E");
        }        
    }
    &_withoutPeople {
        &_default {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 34 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.7599 39.2927H6.35075C4.23278 39.2927 2.44922 37.48 2.44922 35.3275V4.96522C2.44922 2.81267 4.23278 1 6.35075 1H29.7599C31.8779 1 33.6615 2.81267 33.6615 4.96522V35.4408C33.6615 37.5933 31.8779 39.2927 29.7599 39.2927Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M21.066 5.30606H1.78125C1.78125 2.92693 3.67628 1.11426 5.90573 1.11426H21.1774C21.9577 1.11426 22.6266 1.79401 22.6266 2.58706V3.83327C22.6266 4.62631 21.9577 5.30606 21.066 5.30606Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M21.066 34.8755H1.78125C1.78125 37.2546 3.67628 39.0673 5.90573 39.0673H21.1774C21.9577 39.0673 22.6266 38.3875 22.6266 37.5945V36.3483C22.6266 35.5552 21.9577 34.8755 21.066 34.8755Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.45312 4.84426C3.67607 4.73096 4.01048 4.73096 4.23343 4.73096H5.34815C8.02349 4.73096 10.1415 6.88351 10.1415 9.60252V30.5615C10.1415 33.2805 8.02349 35.4331 5.34815 35.4331H4.23343C4.01048 35.4331 3.67607 35.4331 3.45312 35.3198' fill='white'/%3E%3Cpath d='M3.45312 4.84426C3.67607 4.73096 4.01048 4.73096 4.23343 4.73096H5.34815C8.02349 4.73096 10.1415 6.88351 10.1415 9.60252V30.5615C10.1415 33.2805 8.02349 35.4331 5.34815 35.4331H4.23343C4.01048 35.4331 3.67607 35.4331 3.45312 35.3198' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M3.00651 35.5464H2.89504C1.89178 35.5464 1 34.64 1 33.6204V6.65693C1 5.6373 1.89178 4.73096 2.89504 4.73096H3.00651C4.00976 4.73096 4.90153 5.6373 4.90153 6.65693V33.5071C4.90153 34.64 4.00976 35.5464 3.00651 35.5464Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_side {
            width: 43px;
            height: 38px;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='35' viewBox='0 0 40 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00028 30.0983L1.00029 6.68913C1.00029 4.57115 2.81296 2.7876 4.9655 2.7876L35.3277 2.7876C37.4803 2.7876 39.293 4.57116 39.293 6.68913L39.293 30.0983C39.293 32.2163 37.4803 33.9999 35.3277 33.9999L1.00028 33.9999C1.00028 33.9999 1.00028 32.2163 1.00028 30.0983Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M35.5194 3C35.75 3.23333 35.75 3.58333 35.75 3.81666L35.75 4.98333C35.75 7.78333 31.369 10 25.835 10L0.999999 10L0.999999 3.66766' fill='white'/%3E%3Cpath d='M35.5194 3C35.75 3.23333 35.75 3.58333 35.75 3.81666L35.75 4.98333C35.75 7.78333 31.369 10 25.835 10L0.999999 10L0.999999 3.66766' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M34.9859 21.4034L34.9859 2.11865C37.3651 2.11865 39.1777 4.01368 39.1777 6.24313L39.1777 21.5148C39.1777 22.2951 38.498 22.964 37.7049 22.964L36.4587 22.964C35.6657 22.964 34.9859 22.2952 34.9859 21.4034Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M0.999999 4L0.999999 1L31.8996 1C34.0704 1 36 1.68572 36 2.45715L36 2.54286C36 3.31429 34.0704 4 31.8996 4L0.999999 4Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
        &_double {
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='44' viewBox='0 0 37 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.7298 5.85645H7.21721C4.67885 5.85645 2.62109 7.9142 2.62109 10.4526V33.7396C2.62109 36.2779 4.67885 38.3357 7.21721 38.3357H31.7298C34.2682 38.3357 36.3259 36.2779 36.3259 33.7396V10.4526C36.3259 7.9142 34.2682 5.85645 31.7298 5.85645Z' fill='white' stroke='%23A7C2DE' stroke-width='0.612816'/%3E%3Cpath d='M22.9238 10.2793H1.9375C1.9375 7.66677 3.99975 5.67627 6.42592 5.67627H23.0452C23.8943 5.67627 24.6221 6.42271 24.6221 7.29355V8.66202C24.6221 9.53286 23.8943 10.2793 22.9238 10.2793Z' fill='white' stroke='%23A7C2DE' stroke-width='0.612816' stroke-miterlimit='10'/%3E%3Cpath d='M3.87891 10.0287C4.12153 10.0287 4.48547 9.9043 4.72808 9.9043H5.94117C8.85257 9.9043 11.1574 11.8948 11.1574 14.5073V34.0391C11.1574 36.5273 8.85257 38.6421 5.94117 38.6421H4.72808C4.48547 38.6421 4.12153 38.6421 3.87891 38.5178' fill='white'/%3E%3Cpath d='M3.87891 10.0287C4.12153 10.0287 4.48547 9.9043 4.72808 9.9043H5.94117C8.85257 9.9043 11.1574 11.8948 11.1574 14.5073V34.0391C11.1574 36.5273 8.85257 38.6421 5.94117 38.6421H4.72808C4.48547 38.6421 4.12153 38.6421 3.87891 38.5178' stroke='%23A7C2DE' stroke-width='0.612816' stroke-miterlimit='10'/%3E%3Cpath d='M2.97885 38.6422H2.87379C1.9283 38.6422 1.08789 38.1405 1.08789 37.576V10.2933C1.08789 9.72879 1.9283 9.22705 2.87379 9.22705H2.97885C3.92433 9.22705 4.76479 9.72879 4.76479 10.2933V37.576C4.76479 38.1405 3.92433 38.6422 2.97885 38.6422Z' fill='white' stroke='%23A7C2DE' stroke-width='0.612816' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");        
        }
        &_long {
            width: 37px;
            height: 81px;
            background-image: url("data:image/svg+xml,%3Csvg width='37' height='81' viewBox='0 0 34 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.125 2.13391H5.875C3.77143 2.13391 2 4.22989 2 6.71882V67.2393C2 69.7282 3.77143 71.8242 5.875 71.8242H33V6.71882C33 4.09889 31.2286 2.13391 29.125 2.13391Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.5 71.8813H10.0008V17.1442C10.0008 10.6533 7.78416 5.13597 4.98416 5.13597H3.81749C3.58416 5.13597 3.23415 5.13597 3.00081 5.46051' fill='white'/%3E%3Cpath d='M2.5 71.8813H10.0008V17.1442C10.0008 10.6533 7.78416 5.13597 4.98416 5.13597H3.81749C3.58416 5.13597 3.23415 5.13597 3.00081 5.46051' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2.54285 2.18811H2.45713C1.6857 2.18811 1 3.42155 1 4.80918V71.8778L4 71.8784V4.80918C4 3.42155 3.31427 2.18811 2.54285 2.18811Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M16.1766 1.88135C-18.9148 3.31152 33 3.45692 33 3.7103L32.9992 9.88135L14.6738 9.88135C9.02619 9.88135 4.55519 7.47429 4.55519 4.4338L4.55519 3.16693C4.55519 2.91355 4.5552 2.5335 4.79052 2.28012' fill='white'/%3E%3Cpath d='M16.1766 1.88135C-18.9148 3.31152 33 3.45692 33 3.7103L32.9992 9.88135L14.6738 9.88135C9.02619 9.88135 4.55519 7.47429 4.55519 4.4338L4.55519 3.16693C4.55519 2.91355 4.5552 2.5335 4.79052 2.28012' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M2 2.42421L2 1.38192C2 0.88135 3.92276 0.881347 6.08587 0.881348L32.9998 0.881348L33 3.88135L6.32621 3.88135C3.92276 3.88135 2 3.19564 2 2.42421Z' fill='white' stroke='%23A7C2DE' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        }
    }
    &_ordered {
        background-color: rgb(250, 255, 202);
    }
    &_blockingConflicted {
        filter: grayscale(1);
    }
}

.bus-floor-1{
    position: relative;
    width: 898px;
    height: 169px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -1px;
   background-image: url("data:image/svg+xml,%3Csvg width='898' height='169' viewBox='0 0 785 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_901_1693)'%3E%3Cpath d='M783.874 70.0563C783.874 108.198 777.004 138.983 768.445 138.983C768.107 138.983 767.769 138.983 767.318 138.983H17.6829C17.345 138.983 17.0072 138.983 16.6693 138.983C8.10974 139.096 1.12695 108.311 1.12695 70.1695C1.12695 32.0279 8.10974 1.12988 16.6693 1.12988C16.8945 1.12988 17.1198 1.12988 17.2324 1.12988H767.318C767.656 1.12988 768.107 1.12988 768.445 1.12988C777.004 1.12988 783.874 31.9147 783.874 70.0563Z' fill='%23EAECF0' stroke='%23CCD3DF' stroke-width='2.25251' stroke-miterlimit='10'/%3E%3Cmask id='mask0_901_1693' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='-1' y='0' width='786' height='140'%3E%3Cpath d='M783.872 69.9434C783.872 108.023 777.002 138.757 768.443 138.757C768.105 138.757 767.767 138.757 767.317 138.757H17.681C17.3431 138.757 17.0052 138.757 16.6673 138.757C8.10778 138.87 1.125 108.136 1.125 70.0564C1.125 31.9773 8.10778 1.12988 16.6673 1.12988C16.8926 1.12988 17.1178 1.12988 17.2305 1.12988H767.317C767.654 1.12988 768.105 1.12988 768.443 1.12988C777.002 1.12988 783.872 31.8643 783.872 69.9434Z' fill='%23EAECF0' stroke='%23CCD3DF' stroke-width='2.25251' stroke-miterlimit='10'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_901_1693)'%3E%3Crect x='-21' y='1' width='123' height='138' fill='%23CCD3DF'/%3E%3C/g%3E%3Cmask id='mask1_901_1693' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='786' height='140'%3E%3Cpath d='M1.12751 69.9435C1.12751 108.023 7.99769 138.757 16.5572 138.757C16.8951 138.757 17.233 138.757 17.6835 138.757L767.319 138.757C767.657 138.757 767.995 138.757 768.333 138.757C776.892 138.87 783.875 108.136 783.875 70.0564C783.875 31.9773 776.892 1.12988 768.333 1.12988C768.107 1.12988 767.882 1.12988 767.77 1.12988L17.6835 1.12995C17.3456 1.12995 16.8951 1.12995 16.5572 1.12995C7.99767 1.12995 1.1275 31.8644 1.12751 69.9435Z' fill='%23EAECF0' stroke='%23CCD3DF' stroke-width='2.25251' stroke-miterlimit='10'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_901_1693)'%3E%3Crect width='38.2927' height='137.403' transform='matrix(-1 8.74228e-08 8.74228e-08 1 806.4 1.12598)' fill='%23CCD3DF'/%3E%3C/g%3E%3Cpath d='M725.76 135.293H702.351C700.233 135.293 698.449 133.48 698.449 131.327V100.965C698.449 98.8127 700.233 97 702.351 97H725.76C727.878 97 729.661 98.8127 729.661 100.965V131.441C729.661 133.593 727.878 135.293 725.76 135.293Z' fill='%23C5CDDA' stroke='%23A4B1C6' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M717.066 101.306H697.781C697.781 98.9269 699.676 97.1143 701.906 97.1143H717.177C717.958 97.1143 718.627 97.794 718.627 98.5871V99.8333C718.627 100.626 717.958 101.306 717.066 101.306Z' fill='%23C5CDDA' stroke='%23A4B1C6' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M717.066 130.875H697.781C697.781 133.255 699.676 135.067 701.906 135.067H717.177C717.958 135.067 718.627 134.388 718.627 133.594V132.348C718.627 131.555 717.958 130.875 717.066 130.875Z' fill='%23C5CDDA' stroke='%23A4B1C6' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M699.453 100.844C699.676 100.731 700.01 100.731 700.233 100.731H701.348C704.023 100.731 706.141 102.884 706.141 105.603V126.562C706.141 129.281 704.023 131.433 701.348 131.433H700.233C700.01 131.433 699.676 131.433 699.453 131.32' fill='%23C5CDDA'/%3E%3Cpath d='M699.453 100.844C699.676 100.731 700.01 100.731 700.233 100.731H701.348C704.023 100.731 706.141 102.884 706.141 105.603V126.562C706.141 129.281 704.023 131.433 701.348 131.433H700.233C700.01 131.433 699.676 131.433 699.453 131.32' stroke='%23A4B1C6' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Cpath d='M699.007 131.546H698.895C697.892 131.546 697 130.64 697 129.62V102.657C697 101.637 697.892 100.731 698.895 100.731H699.007C700.01 100.731 700.902 101.637 700.902 102.657V129.507C700.902 130.64 700.01 131.546 699.007 131.546Z' fill='%23C5CDDA' stroke='%23A4B1C6' stroke-width='0.563128' stroke-miterlimit='10'/%3E%3Crect x='110.373' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='110.373' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='225.252' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='328.867' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='448.25' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='543.98' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='646.471' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='762.475' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='185.832' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='225.252' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='328.867' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='448.25' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='395' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='543.98' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='646.471' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='762.475' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='226.377' y='2.25195' width='2.25251' height='49.5552' fill='%23CCD3DF'/%3E%3Crect x='386.305' y='2.25195' width='2.25251' height='49.5552' fill='%23CCD3DF'/%3E%3Crect x='391.092' y='3.66047' width='46.7396' height='37.7296' rx='4.22346' fill='%23CCD3DF' stroke='%23CBCBCB' stroke-width='0.563128'/%3E%3Crect x='550.282' y='3.66047' width='46.7396' height='37.7296' rx='4.22346' fill='%23CCD3DF' stroke='%23CBCBCB' stroke-width='0.563128'/%3E%3Crect x='550.282' y='98.2816' width='46.7396' height='37.7296' rx='4.22346' fill='%23CCD3DF' stroke='%23CBCBCB' stroke-width='0.563128'/%3E%3Crect width='157.676' height='47.3027' transform='matrix(-1 0 0 1 386.305 2.25195)' fill='white'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 352.516 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 341.254 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 329.99 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 318.729 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 307.467 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 296.203 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 284.941 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 273.678 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline y1='-0.563128' x2='47.3027' y2='-0.563128' transform='matrix(4.37112e-08 1 1 -4.37112e-08 262.416 2.25195)' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Crect width='33.7877' height='48.429' transform='matrix(-1 0 0 1 386.305 2.25195)' fill='%23EAECF0'/%3E%3Crect x='353.141' y='49.5547' width='2.25252' height='126.141' transform='rotate(90 353.141 49.5547)' fill='%23CCD3DF'/%3E%3Crect x='104' y='4' width='121' height='48' fill='%23CCD3DF'/%3E%3Crect x='601' y='4' width='112' height='48' fill='%23CCD3DF'/%3E%3Crect x='601' y='93' width='92' height='48' fill='%23CCD3DF'/%3E%3Crect x='104' y='88' width='229' height='48' fill='%23CCD3DF'/%3E%3Cline x1='692' y1='93.5' x2='749' y2='93.5' stroke='%23CCD3DF'/%3E%3Cline x1='761.5' y1='72' x2='761.5' y2='2' stroke='%23CCD3DF'/%3E%3Cline x1='748.573' y1='93.1034' x2='761.573' y2='71.7401' stroke='%23CCD3DF'/%3E%3Cpath d='M756 87.25H758C759.519 87.25 760.75 88.4812 760.75 90V99.75H753.25V90C753.25 88.4812 754.481 87.25 756 87.25Z' stroke='%23C5CDDA' stroke-width='0.5'/%3E%3Cpath d='M758.838 137.75H757.162C755.285 137.75 753.96 135.911 754.553 134.13L755.18 132.25H762.653L761.447 135.87C761.072 136.993 760.021 137.75 758.838 137.75Z' stroke='%23C5CDDA' stroke-width='0.5'/%3E%3Crect x='755.25' y='110.25' width='7.5' height='21.5' stroke='%23C5CDDA' stroke-width='0.5'/%3E%3Cpath d='M760.791 99.25L762.7 109.75L755.209 109.75L753.3 99.25L760.791 99.25Z' stroke='%23C5CDDA' stroke-width='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M762.949 114.657C762.622 112.078 761.47 109.819 759.544 107.981C758.037 106.542 756.332 105.648 754.173 105.163C753.203 104.946 750.774 104.946 749.805 105.163C747.495 105.682 745.864 106.575 744.218 108.222C742.573 109.869 741.681 111.502 741.163 113.814C740.946 114.784 740.946 117.216 741.163 118.186C741.681 120.498 742.573 122.131 744.218 123.778C745.864 125.425 747.495 126.318 749.805 126.837C750.774 127.054 753.203 127.054 754.173 126.837C756.483 126.318 758.114 125.425 759.759 123.778C761.406 122.13 762.333 120.431 762.801 118.205C762.983 117.339 763.059 115.52 762.949 114.657ZM760.241 118.164C760.041 118.898 759.435 120.208 759.006 120.837C758.182 122.044 756.969 123.058 755.56 123.717C754.826 124.06 753.739 124.411 753.409 124.411C753.316 124.411 753.3 124.215 753.344 123.599C753.456 122.021 753.762 120.952 754.737 118.737C755.641 116.686 755.591 115.192 754.541 112.825C753.73 110.995 753.315 109.373 753.315 108.025C753.315 107.529 753.31 107.531 754.137 107.744C755.536 108.105 757.133 109.05 758.136 110.111C759.322 111.364 760.158 113.048 760.426 114.721C760.522 115.322 760.401 117.578 760.241 118.164ZM753.784 116.984C753.444 117.631 752.759 118.031 751.99 118.031C750.832 118.031 749.96 117.159 749.96 116C749.96 114.841 750.832 113.969 751.99 113.969C753.549 113.969 754.513 115.591 753.784 116.984ZM750.017 112.779C749.731 113.353 749.24 113.826 748.654 114.093C748.302 114.252 747.978 114.274 745.959 114.276L743.663 114.278L743.729 113.91C743.814 113.441 744.357 112.169 744.782 111.444C745.204 110.725 746.719 109.208 747.437 108.786C748.161 108.361 749.432 107.817 749.9 107.732L750.269 107.665L750.269 109.969C750.269 112.245 750.266 112.278 750.017 112.779ZM749.9 124.268C749.432 124.183 748.161 123.639 747.437 123.214C746.719 122.792 745.204 121.275 744.782 120.556C744.357 119.831 743.814 118.559 743.729 118.09L743.663 117.722L745.952 117.722C748.553 117.722 748.707 117.757 749.492 118.539C750.231 119.276 750.264 119.426 750.267 122.036L750.269 124.335L749.9 124.268Z' fill='%23A4B1C6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_901_1693'%3E%3Crect width='785' height='140' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.bus-floor-2{
    position: relative;
    width: 898px;
    height: 169px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 0 -7px;
   background-image: url("data:image/svg+xml,%3Csvg  width='898' height='169' viewBox='0 0 785 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_901_1576)'%3E%3Cpath d='M783.874 70.0563C783.874 108.198 777.004 138.983 768.445 138.983C768.107 138.983 767.769 138.983 767.318 138.983H17.6829C17.345 138.983 17.0072 138.983 16.6693 138.983C8.10974 139.096 1.12695 108.311 1.12695 70.1695C1.12695 32.0279 8.10974 1.12988 16.6693 1.12988C16.8945 1.12988 17.1198 1.12988 17.2324 1.12988H767.318C767.656 1.12988 768.107 1.12988 768.445 1.12988C777.004 1.12988 783.874 31.9147 783.874 70.0563Z' fill='%23EAECF0' stroke='%23CCD3DF' stroke-width='2.25251' stroke-miterlimit='10'/%3E%3Cmask id='mask0_901_1576' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='-1' y='0' width='786' height='140'%3E%3Cpath d='M783.872 69.9434C783.872 108.023 777.002 138.757 768.443 138.757C768.105 138.757 767.767 138.757 767.317 138.757H17.681C17.3431 138.757 17.0052 138.757 16.6673 138.757C8.10778 138.87 1.125 108.136 1.125 70.0564C1.125 31.9773 8.10778 1.12988 16.6673 1.12988C16.8926 1.12988 17.1178 1.12988 17.2305 1.12988H767.317C767.654 1.12988 768.105 1.12988 768.443 1.12988C777.002 1.12988 783.872 31.8643 783.872 69.9434Z' fill='%23EAECF0' stroke='%23CCD3DF' stroke-width='2.25251' stroke-miterlimit='10'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_901_1576)'%3E%3Crect x='-21.4004' y='1.12598' width='38.2927' height='137.403' fill='%23CCD3DF'/%3E%3C/g%3E%3Cmask id='mask1_901_1576' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='786' height='140'%3E%3Cpath d='M1.12751 69.9435C1.12751 108.023 7.99769 138.757 16.5572 138.757C16.8951 138.757 17.233 138.757 17.6835 138.757L767.319 138.757C767.657 138.757 767.995 138.757 768.333 138.757C776.892 138.87 783.875 108.136 783.875 70.0564C783.875 31.9773 776.892 1.12988 768.333 1.12988C768.107 1.12988 767.882 1.12988 767.77 1.12988L17.6835 1.12995C17.3456 1.12995 16.8951 1.12995 16.5572 1.12995C7.99767 1.12995 1.1275 31.8644 1.12751 69.9435Z' fill='%23EAECF0' stroke='%23CCD3DF' stroke-width='2.25251' stroke-miterlimit='10'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_901_1576)'%3E%3Crect width='38.2927' height='137.403' transform='matrix(-1 8.74228e-08 8.74228e-08 1 806.4 1.12598)' fill='%23CCD3DF'/%3E%3C/g%3E%3Crect x='110.373' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='110.373' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='225.252' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='328.867' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='448.25' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='543.98' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='646.471' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='762.475' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='185.832' y='137.403' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='225.252' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='328.867' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='448.25' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='543.98' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='646.471' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='762.475' width='4.50502' height='2.25251' fill='%239099A7'/%3E%3Crect x='226.377' y='2.25195' width='2.25251' height='49.5552' fill='%23CCD3DF'/%3E%3Crect x='386.305' y='2.25195' width='2.25251' height='49.5552' fill='%23CCD3DF'/%3E%3Crect x='388.559' y='49.5547' width='2.25252' height='126.141' transform='rotate(90 388.559 49.5547)' fill='%23CCD3DF'/%3E%3Crect x='391.092' y='3.66047' width='46.7396' height='37.7296' rx='4.22346' fill='%23CCD3DF' stroke='%23CBCBCB' stroke-width='0.563128'/%3E%3Crect x='228.629' y='2.25195' width='157.676' height='47.3027' fill='white'/%3E%3Cline x1='262.981' y1='2.25195' x2='262.981' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='274.243' y1='2.25195' x2='274.243' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='285.506' y1='2.25195' x2='285.507' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='296.768' y1='2.25195' x2='296.768' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='308.03' y1='2.25195' x2='308.03' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='319.294' y1='2.25195' x2='319.294' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='330.555' y1='2.25195' x2='330.555' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='341.819' y1='2.25195' x2='341.819' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Cline x1='353.081' y1='2.25195' x2='353.081' y2='49.5547' stroke='%23A8ACB1' stroke-width='1.12626'/%3E%3Crect x='228.629' y='2.25195' width='33.7877' height='48.429' fill='%23EAECF0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_901_1576'%3E%3Crect width='785' height='140' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.bus-floor-position{
    position: absolute;
    left: -13px;
}

.table{
    position: absolute;
    background: #FFFFFF;
    border: 0.5px solid #778797;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px !important;
    // &_center {
    //     border-radius: 6px !important;
    // }

    // &_left{
    //     border-radius: 0px 0px 6px 6px;
    // }

    // &_right{
    //     border-radius: 6px 6px 0px 0px;        
    // }

    &_selected{
        background: #B9EAA4;
        border: 0.5px solid #87C86C;
    }

    &_upgrade{
        // background: #b8d9e5;
        // border: 0.5px solid #F1E041;
        background-color: #7d8994;
        pointer-events: none;
        cursor: default;
    }

    &_locked{
        background-color: #778797;
    }
}

.loader{
    position: absolute;
    top: 70px;
    left: 416px;
    &_bus{
        
        width: 898px;
        height: 167px;
        opacity: 0.5;
        pointer-events: none;
    }
}

$bus-height: 900px;

.deck-name {
    //@include adaptive-prop("font-size", 10, 18, "max-width", str-slice(#{ map-get($breakpoints, "phone") }, 1, -3));

    line-height: em(26, 18);
    letter-spacing: em(1, 18);

    @include media("<=custom") {
        text-transform: uppercase;
        font-size: calc(10px + 8*((100vw - 320px)/576));        
    }

    @include media("<=lg-desktop") {
        display: inline-block;
        vertical-align: super;
        text-align: right;
        width: $bus-height;
    }

    @include media("<=custom") {
        order: 1;
        writing-mode: vertical-lr;
        cursor: default;
    }
}

.seats {
    @include media("<=lg-desktop") { 
        height: 1000px;
    }

    &__title {
        @include media("<=custom") {
            text-align: center;
        }
    }
}

.bus {
    margin-top: 15px;
    width: 100%;

    @include media("<=lg-desktop") {
        &:nth-child(2) { // upper deck
            transform: rotateZ(-90deg) translate(-736px, 196px);
            transform-origin: left bottom;
        }

        &:nth-child(3) { // lower deck
            transform: rotateZ(-90deg) translate(-518px, 500px);
            transform-origin: left bottom;
        }
    }

    @include media("<=md-tablet") {
        &:nth-child(3) { // lower deck
            transform: rotateZ(-90deg) translate(-518px, value-in-range(500, 400, 992, 892));
        }
    }

    @include media("<=custom") {
        display: flex;
        align-items: center;

        &:nth-child(2) { // upper deck
            transform: rotateZ(-90deg) translate(-767px, 140px);
        }

        &:nth-child(3) { // lower deck
            transform: rotateZ(-90deg) translate(-585px, 330px);
        }
    }

    // &-floor-1, &-floor-2 {
    //     @include media("<=phone") {
    //         transform: scale(0.8);
    //     }
    // }
}