.input-box {
	position: relative;
    border-bottom: 0;
    font-size: 16px;

    &__label {
		display: inline-block;
		font-size: 16px;
		color: #202020;
		margin-bottom: 3px;
	}
	&__tooltip {
		margin-left: 4px;
    }
    input {
        border: 1px #6E7C8D solid;
        border-radius: 4px !important;
        width: 100%;
        padding: 4px 8px;
    }
    input::placeholder {
        color: #b7bec6;
	}
}
