.wrapper {

}

.box {
    display: flex;
    align-items: center;
}

.label {
    &__text {
        display: inline-block;
        font-size: 16px;
        color: #202020;
        margin-bottom: 3px;
    }
    &__tooltip {
        margin-left: 4px;
    }
}

.separate {
    margin: 0 5px 7px 7px;
    width: 17px;
}

.item {
    flex: 1
}