@import "/styles/mixins.scss";

.board {
	&__container {
		padding: 15px 80px 0px;
		font-family: "Helvetica Neue";
		font-weight: 400;

		@include media("<=md-desktop") {
			padding: 15px 0px 0px;
		}
	}
}