$average-black: #7f7f7f;

$color-bg-ac: #E5E5E5;
$color-bg-ac-rgba-30: rgba(229,229,229,.3); 

$color-dark-bg: #131524;
$blueheader: #007CC0;
$color-cerulean: #0CA6C1;
$color-cornflower: #87BCDE;


$color-outline-ac-input: #4D90FE;

$color-dark-text: #202020;

$color-bg-ac-default: #6E7C8D;
$color-bg-ac-default-rgba-30: rgba(110,124,141, .3);
$color-bg-ac-default-rgba-10: rgba(110,124,141, .1);

$color-main-red: #EE2B45;

$color-main-red-rgba-50: rgba(240,67,90, .5);

$color-main-red-hover: #EE6865;

$color-red-light: #EE6865;

$color-wisppink: #FDEFF3;
$color-serenade: #FFF0E4;
$color-white: #FFFFFF;

$color-light-gray: #F0F2F3;

$color-light-bg: #292F36;

$mod: 8px; //standart module size



$br-4: 4px !important;
$br-8: 8px !important;
$br-20: 20px !important;
$br-40: 40px !important;



//#6E7C8D цвет кнопки

//#F0F2F3 цвет плашки

//#292F36 цвет темный


//#adb7c5 - hover

//#586370 - hover2