@import "../../../Styles/variables";
@import "../../../Styles/_helpers/all";

// ---- tag ----
	.tag {
		display: inline-block;
		border-radius: 4px !important;
		border-bottom-right-radius: 20px !important;
		font-size: 16px;
		padding-left: 8px;
		padding-right: 12px;
		border-width: 1px;
		border-style: solid;
		&:hover {
			cursor: pointer;
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

	.tag_white {
		// background-color: rgba(110,124,141, .1);
		color: #6E7C8D;
		border-color: #6E7C8D;
	}
	.tag_white:hover {
		background-color: #D3D8DD;
	}

	.tag_active {
		color: #202020;
		border-color: #202020;
		background-color: #E5E5E5;
	}

	.tag_mid {
		padding-top: 5px;
		padding-bottom: 5px;
	}