<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File" name="ErrorFileTarget"
            fileName="/app/logs/bustour.scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Scheduler_Errors.log"
            encoding="UTF-8"
            layout="${longdate} : ${threadid} : ${uppercase:${level}} : ${message}${onexception:inner=${newline}Exception is${newline}${exception:format=tostring:maxInnerExceptionLevel=10} ${newline}" />
    <target xsi:type="File" name="WarningFileTarget"
            fileName="/app/logs/bustour.scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Scheduler_Warnings.log"
            encoding="UTF-8"
            layout="${longdate} : ${threadid} : ${message} ${newline}" />
    <target xsi:type="File" name="InfoFileTarget"
            fileName="/app/logs/bustour.scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Scheduler_Info.log"
            encoding="UTF-8"
            layout="${longdate} : ${threadid} : ${message} ${newline}" />
    <target xsi:type="File" name="DebugFileTarget"
            fileName="/app/logs/bustour.scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Scheduler_Debug.log"
            encoding="UTF-8"
            layout="${longdate} : ${threadid} : ${message} ${newline}" />
    <target xsi:type="File" name="TraceFileTarget"
            fileName="/app/logs/bustour.scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Scheduler_Trace.log"
            encoding="UTF-8"
            layout="${longdate} : ${threadid} : ${message} ${newline}" />
    <target xsi:type="File" name="EventsFileTarget"
            fileName="/app/logs/bustour.scheduler/${date:format=yyyy}/${date:format=MM}/${date:format=dd}/Scheduler_Events.log"
            encoding="UTF-8"
            layout="${longdate} : ${threadid} : ${uppercase:${level}} : ${message} ${newline}" />
    <target xsi:type="Console" name="ConsoleTarget"
            layout="${longdate} : ${threadid} : ${uppercase:${level}} : ${message}${onexception:inner=${newline}Exception is${newline}${exception:format=tostring:maxInnerExceptionLevel=10} ${newline}" />
  </targets>

  <rules>
    <logger                 writeTo="ErrorFileTarget"   name="*" levels="Error,Fatal" />
    <logger                 writeTo="WarningFileTarget" name="*" level="Warn" />
    <logger enabled="false" writeTo="InfoFileTarget"    name="*" level="Info" />
    <logger                 writeTo="DebugFileTarget"   name="*" level="Debug" />
    <logger enabled="false" writeTo="TraceFileTarget"   name="*" level="Trace" />
    <logger enabled="false" writeTo="EventsFileTarget"  name="*" minlevel="Trace" maxlevel="Info" />
    <logger enabled="true" writeTo="ConsoleTarget"     name="*" />
  </rules>
</nlog>